<div class="row">
	<div class="col-md-12">
		<h1>Add new player.</h1>
	</div>
</div>
<form role="form">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="player-name">Player Name</label>
				<input ng-model="playerName" class="form-control" name="player-name" placeholder="Enter ya name" required ng-minlength="3">
			</div>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-default" ng-click="addPlayer()" ng-disabled="form.$invalid">Create new player</button>
		</div>
	</div>
</form>
<div class="row">
	<div class="col-md-12">
		<div ng-hide="isCreated" class="ng-hide">
			<h3>{{playerName}} has been added, now go out there and smash it like Kate Middleton</h3>
			<img src="images/middleton.jpeg" alt="Kate Middleton dominating Table Tennis">
		</div>
	</div>
</div>

